<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </li>
      </ul>
      <span class="d-flex justify-content-end">
        <% if (!user) { %>
          <form class="form-inline", method="POST", action= "/login">
            <label for="user"></label>
            <a class="btn btn-outline-light" href="/register" role="button">Register</a> &nbsp
            <a class="btn btn-outline-light" href="/login" role="button">Login</a>
          </form>
        <% } else { %>
          <form class="form-inline", method="POST", action="/logout">
            <span class="navbar-text">
              <%= `Logged in as: ${user["email"]}` %> &nbsp &nbsp
            </span>
            <button type="logout" class="btn btn-outline-light">Logout</button>
          </form>
        <% } %>
      </span>
    </div>
  </nav>
</header>